Django==1.6.5
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.0
blessings==1.5.1
coverage==3.7.1
html2text==2014.4.5
ipdb==0.8
ipython==2.1.0
lxml==3.3.5
nose==1.3.3
nose-progressive==1.5.1
pyenchant==1.6.6
python-termstyle==0.1.10
redis==2.10.1
rednose==0.4.1
selenium==2.42.1
splinter==0.6.0
xamcheck.utils==0.0.1
